* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop {
  background-color: rgba(86, 43, 216, 0.8);
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 0;
  height: 0;
  border-top: 100px solid #f8f9fa;
  border-right: 160px solid #f1f3f5;
  border-bottom: 100px solid #e9ecef;
  border-left: 160px solid #dee2e6;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #e64980;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e64980;
  /* move to the top a distance equal to half of its height */
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e64980;
  /* move to the left a distance equal to half of its height */
  transform: translateX(-50%);
  border-radius: 50%;
}
